<form>
  <mat-grid-list [cols]="3">
    <mat-grid-tile class="nameGrid" [colspan]="1" rowspan="1">
      <mat-form-field class="nameInput">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="nameInput">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field class="Description">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="descriptionInput">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field class="from">
        <mat-label>Account Type</mat-label>
        <mat-select [formControl]="accountTypeSelect">
          <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">{{
            accountType.charAt(0).toUpperCase() + accountType.slice(1).toLowerCase()
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field class="from">
        <mat-label>Balance</mat-label>
        <input matInput currencyMask placeholder="0.00" value="" [options]="{ prefix: 'zł '}"
               [formControl]="balanceInput">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-slide-toggle [formControl]="archivedToggle">Archived</mat-slide-toggle>
    </mat-grid-tile>
<!--    <mat-grid-tile colspan="2">-->
      <app-color-picker [formControl]="colorPicker" [heading]="'Background'" [color]="'#FFFFFF'"></app-color-picker>
<!--    </mat-grid-tile>-->
  </mat-grid-list>
</form>
