.wrapper {
  margin: 20px;
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 10px;
}

.actions {
  justify-content: center;
}

@import '/src/styles';
@media (max-width: $layout-small-width) {
  .wrapper {
    width: 70vw;
    min-width: auto;
    max-height: 80vh;
  }

  ::ng-deep .mat-grid-tile-content {
    justify-content: center !important;
  }

  ::ng-deep .name-input{
    margin: 0 !important;
  }

  ::ng-deep .account-type-input{
    margin-left: 0 !important;
  }
  ::ng-deep .color-select{
    margin-left: 0 !important;
  }

  ::ng-deep .description{
    width: auto !important;
    margin-right: 0 !important;
    min-width: auto !important;
  }
}
