<form>
  <mat-grid-list [cols]="2" rowHeight="100px">
    <mat-grid-tile [colspan]="nameCol" class="name-grid">
      <mat-form-field class="name-input">
        <mat-label>Name</mat-label>
        <input [formControl]="nameInput" matInput />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="colorCol">
      <button
        mat-fab
        extended
        class="openColorPickerButton"
        #openColorPickerButton
        (click)="openColorPicker()"
      >
        Color
      </button>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="subCategoryCol"
      [rowspan]="subCategoryRow"
      class="subCategoryGridTile"
    >
      <mat-form-field class="subCategoryField">
        <mat-label>SubCategories</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row
            (removed)="removeSubCategory(subCategory)"
            *ngFor="let subCategory of subCategories"
          >
            {{ subCategory.name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          (matChipInputTokenEnd)="addSubCategory($event)"
          [matChipInputFor]="chipGrid"
          placeholder="subCategory..."
        />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="isCreate" [colspan]="toggleCol">
      <mat-slide-toggle #incomeToggle>Income</mat-slide-toggle>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!isCreate" [colspan]="toggleCol">
      <mat-slide-toggle #archiveToggle>Archive</mat-slide-toggle>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="buttons">
    <button
      (click)="deleteCategory()"
      *ngIf="!isCreate"
      class="delete-button"
      color="warn"
      mat-raised-button
    >
      Delete
    </button>
    <button
      (click)="close()"
      *ngIf="isCreate"
      class="delete-button"
      mat-raised-button
    >
      Close
    </button>
    <button (click)="saveCategory()" class="save-button" mat-raised-button>
      Save
    </button>
  </div>
</form>
