.actions {
  justify-content: center;
}

.amount {
  width: 25%;
}

.date {
  width: 80%;
}

.type {
  width: 80%;
}

.left {
  width: 80%;
}

.right {
  width: 80%;
}

.wrapper {
  margin: 20px;
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  overflow: hidden;
}

.note {
  width: 80%;
}

.needListBox {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
}

@import '/src/styles';
@media (max-width: $layout-small-width) {
  .wrapper {
    width: 70vw;
    min-width: auto;
    max-height: 80vh;
  }
  .amount {
    width: 40%;
  }
}
