<div class="wrapper" #wrapper>
    <div class="transactions-wrapper" #transactionWrapper>
        <div *ngFor="let transactionCard of transactionCards">
            <app-transaction-card
                    [transactionCard]="transactionCard"
            ></app-transaction-card>
        </div>
    </div>
    <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
    >
    </mat-paginator>
</div>
