<div #wrapper class="wrapper">
  <div #transactionWrapper class="transactions-wrapper">
    <div *ngFor="let transactionCard of transactionCards">
      <app-transaction-card
        [transactionCard]="transactionCard"
      ></app-transaction-card>
    </div>
  </div>
<!--  <mat-paginator-->
<!--    #paginator-->
<!--    (page)="handlePageEvent($event)"-->
<!--    [length]="length"-->
<!--    [pageIndex]="pageIndex"-->
<!--    [pageSizeOptions]="pageSizeOptions"-->
<!--    [pageSize]="pageSize"-->
<!--    aria-label="Select page"-->
<!--  >-->
<!--  </mat-paginator>-->
  <app-my-paginator #paginator class="paginator" (pageEventEmitter)="handlePageEvent($event)" [length]="length"></app-my-paginator>

</div>
