<mat-card class="transaction">
      <div class="date">
        {{transactionCard.date}}
      </div>
  <mat-card-header>
    <mat-card-title>
      <mat-icon> {{transactionCard.icon}} </mat-icon>
      {{transactionCard.category}}
    </mat-card-title>
    <mat-card-subtitle>
      {{transactionCard.subCategory}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{transactionCard.account}}
    </mat-card-subtitle>
<!--    <div class="date">-->
<!--      {{transactionCard.date}}-->
<!--    </div>-->

    <div class="amount">
      {{transactionCard.amount}}
    </div>
  </mat-card-header>
</mat-card>
