<mat-card class="incomeExpenseCard">
  <mat-card-content class="wrapper">
    <mat-card class="incomeCard">
      <mat-card-header>
        <mat-card-title>Income</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="amount" [ngStyle]="{'color': myGreen}">{{ income.toFixed(2) }}zł</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="expenseCard">
      <mat-card-header>
        <mat-card-title>Expense</mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <p class="amount" [ngStyle]="{'color': myRed}">{{ expense.toFixed(2) }}zł</p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>

</mat-card>
