.login-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  color: rgba(255, 255, 255, 0.76);
}

.login-card {
  padding-top: 10px;
  width: 400px;
  text-align: center;
  align-self: center;
}

mat-card-actions {
  justify-content: center;
}