.wrapper {
  width: 100%;
  height: 100%;
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: block;
}

.budgets {
  max-height: 90%;
  overflow-y: auto;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: center ;
}

.calendar {
  order: 1;
}


mat-divider {
  margin-top: 10px;
}


@import '/src/styles';

@media (max-width: $layout-small-width) {
  .headerWrapper {
    flex-wrap: wrap;
  }

  .calendar {
    order: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  
  .incomeCard {
    order: 1;
  }
  
  .plannedCard {
    order: 2;
  }
  
}