
.mat-grid-list {
  height: 100%;
}

.gridWrapper {
  width: 100%;
  height: 100%;

}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-content {
  overflow-y: auto;
}

.cards {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}



@import '/src/styles';
@media (max-width: $layout-small-width) {
  .gridWrapper {
    height: 180vh;
  }
}


