<div class="gridWrapper">
  <mat-grid-list [cols]="gridCols" rowHeight="fit">
    <mat-grid-tile>
      <app-income-expense-card class="cards"></app-income-expense-card>
    </mat-grid-tile>
    <mat-grid-tile class="transactions">
      <app-top-accounts-card class="cards"></app-top-accounts-card>
    </mat-grid-tile>
    <mat-grid-tile class="transactions">
      <app-transactions-card class="cards"></app-transactions-card>
    </mat-grid-tile>
    <mat-grid-tile class="transactions" >
      <app-transactions-card class="cards" [income]="true"></app-transactions-card>
    </mat-grid-tile>
    <mat-grid-tile class="transactions">
      <app-category-per-month-card class="cards"></app-category-per-month-card>
    </mat-grid-tile>

    <mat-grid-tile class="transactions">
      <app-expenses-per-month-card class="cards" ></app-expenses-per-month-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
