<div class="gridWrapper">
  <mat-grid-list [cols]="gridCols" rowHeight="fit">
    <mat-grid-tile class="transactions">
      <app-transactions-card class="cards"></app-transactions-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          esssssssssssssssssss
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          esssssssssssssssssss
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          esssssssssssssssssss
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          esssssssssssssssssss
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cards">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          esssssssssssssssssss
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
