mat-toolbar {
  background: #004a9f;
  color: white;
}

.balance-card {
  background-color: #0456b3;
}

mat-sidenav {
  margin: 16px;
  width: 15%;
  min-width: 200px;
  border-right: none;
  background: #004a9f;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  height: calc(100vh - 17% + 30px);
}

.content {
  padding: 15px;
  height: calc(100vh - 17%);
  //max-height: calc(100vh - 17%);
  margin: 16px 1.5% 16px 3%;
  justify-content: center;
  align-items: center;
  color: lightgray;
  border-radius: 10px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;

  mat-icon {
    margin-right: 8px;
  }

}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: gray;
}
@import '/src/styles';
@media (max-width: $layout-small-width) {
  mat-sidenav {
    width: 92%;
  }
  .menu-button {
    height: 3.5rem;
  }
  .content {
    height: auto;
  }
}
