<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <mat-card class="balance-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Balance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{balance.toFixed(2)}} zł
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="goToDashboard()">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>score</mat-icon>
      <span>Budget</span>
    </button>
    <button mat-button class="menu-button" (click)="goToTransactions()">
      <mat-icon>attach_money</mat-icon>
      <span>Transactions</span>
    </button>
    <button mat-button class="menu-button" (click)="goToAddTransaction()">
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Add Transaction</span>
    </button>
    <button mat-button class="menu-button" (click)="goToAddAccount()">
      <mat-icon>add</mat-icon>
      <span>Add Account</span>
    </button>
    <button mat-button class="menu-button" (click)="goToAddCategory()">
      <mat-icon>add</mat-icon>
      <span>Add Category</span>
    </button>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          regular
        </mat-panel-title>
        <mat-icon>account_balance</mat-icon>
      </mat-expansion-panel-header>
      <button mat-button class="menu-button" *ngFor="let account of accountsRegular"
              (click)="goToAccount(account.hash)">
        <mat-icon>account_balance</mat-icon>
        <span class="name">{{account.name}}</span>
        <span class="balance">{{account.balance.toFixed(2)}}</span>
      </button>
      <mat-expansion-panel class="archivedExpansion mat-elevation-z0" hideToggle *ngIf="accountsRegularArchived.length > 0">
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>account_balance</mat-icon>
        </mat-expansion-panel-header>
        <button mat-button class="menu-button archivedColor" *ngFor="let account of accountsRegularArchived"
                (click)="goToAccount(account.hash)">
          <mat-icon>account_balance</mat-icon>
          <span class="name">{{account.name}}</span>
          <span class="balance">{{account.balance.toFixed(2)}}</span>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Savings
        </mat-panel-title>
        <mat-icon>savings</mat-icon>
      </mat-expansion-panel-header>
      <button mat-button class="menu-button" *ngFor="let account of accountsSavings"
              (click)="goToAccount(account.hash)">
        <div class="icon-name">
          <mat-icon>savings</mat-icon>
          <span class="name">{{account.name}}</span>
        </div>
        <span class="balance">{{account.balance.toFixed(2)}}</span>
      </button>
      <mat-expansion-panel class="archivedExpansion mat-elevation-z0" hideToggle *ngIf="accountsSavingsArchived.length > 0">
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>savings</mat-icon>
        </mat-expansion-panel-header>
        <button mat-button class="menu-button archivedColor" *ngFor="let account of accountsSavingsArchived"
                (click)="goToAccount(account.hash)">
          <mat-icon>account_balance</mat-icon>
          <span class="name">{{account.name}}</span>
          <span class="balance">{{account.balance.toFixed(2)}}</span>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Income
        </mat-panel-title>
        <mat-icon>paid</mat-icon>
      </mat-expansion-panel-header>
      <button mat-button class="menu-button" *ngFor="let category of categoryIncome"
              (click)="goToCategory(category.hash)">
        <div class="icon-name">
          <mat-icon>paid</mat-icon>
          <span class="name">{{category.name}}</span>
        </div>
      </button>
      <mat-expansion-panel class="archivedExpansion mat-elevation-z0" hideToggle *ngIf="categoryArchivedIncome.length > 0">
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>paid</mat-icon>
        </mat-expansion-panel-header>
        <button mat-button class="menu-button archivedColor" *ngFor="let category of categoryArchivedIncome"
                (click)="goToCategory(category.hash)">
          <div class="icon-name">
            <mat-icon>paid</mat-icon>
            <span class="name">{{category.name}}</span>
          </div>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Expense
        </mat-panel-title>
        <mat-icon>shopping_bag</mat-icon>
      </mat-expansion-panel-header>
      <button mat-button class="menu-button" *ngFor="let category of categoryExpense"
              (click)="goToCategory(category.hash)">
        <div class="icon-name">
          <mat-icon>shopping_bag</mat-icon>
          <span class="name">{{category.name}}</span>
        </div>
      </button>
      <mat-expansion-panel class="archivedExpansion mat-elevation-z0" hideToggle *ngIf="categoryArchivedExpense.length > 0">
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>shopping_bag</mat-icon>
        </mat-expansion-panel-header>
        <button mat-button class="menu-button archivedColor" *ngFor="let category of categoryArchivedExpense"
                (click)="goToCategory(category.hash)">
          <div class="icon-name">
            <mat-icon>shopping_bag</mat-icon>
            <span class="name">{{category.name}}</span>
          </div>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
