<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <mat-card class="balance-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Balance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ balance.toFixed(2) }} zł
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <button (click)="goToDashboard()" class="menu-button" mat-button>
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button class="menu-button" mat-button>
      <mat-icon>score</mat-icon>
      <span>Budget</span>
    </button>
    <button (click)="goToStatistics()" class="menu-button" mat-button>
      <mat-icon>score</mat-icon>
      <span>Statistics</span>
    </button>
    <button (click)="goToTransactions()" class="menu-button" mat-button>
      <mat-icon>attach_money</mat-icon>
      <span>Transactions</span>
    </button>
    <button (click)="goToAddTransaction()" class="menu-button" mat-button>
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Add Transaction</span>
    </button>
    <button (click)="goToAddAccount()" class="menu-button" mat-button>
      <mat-icon>add</mat-icon>
      <span>Add Account</span>
    </button>
    <button (click)="goToAddCategory()" class="menu-button" mat-button>
      <mat-icon>add</mat-icon>
      <span>Add Category</span>
    </button>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          regular
        </mat-panel-title>
        <mat-icon>account_balance</mat-icon>
      </mat-expansion-panel-header>
      <button (click)="goToAccount(account.hash)" *ngFor="let account of accountsRegular" class="menu-button"
              mat-button>
        <mat-icon>account_balance</mat-icon>
        <span class="name">{{ account.name }}</span>
        <span class="balance">{{ account.balance.toFixed(2) }}</span>
      </button>
      <mat-expansion-panel *ngIf="accountsRegularArchived.length > 0" class="archivedExpansion mat-elevation-z0"
                           hideToggle>
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>account_balance</mat-icon>
        </mat-expansion-panel-header>
        <button (click)="goToAccount(account.hash)" *ngFor="let account of accountsRegularArchived" class="menu-button archivedColor"
                mat-button>
          <mat-icon>account_balance</mat-icon>
          <span class="name">{{ account.name }}</span>
          <span class="balance">{{ account.balance.toFixed(2) }}</span>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Savings
        </mat-panel-title>
        <mat-icon>savings</mat-icon>
      </mat-expansion-panel-header>
      <button (click)="goToAccount(account.hash)" *ngFor="let account of accountsSavings" class="menu-button"
              mat-button>
        <div class="icon-name">
          <mat-icon>savings</mat-icon>
          <span class="name">{{ account.name }}</span>
        </div>
        <span class="balance">{{ account.balance.toFixed(2) }}</span>
      </button>
      <mat-expansion-panel *ngIf="accountsSavingsArchived.length > 0" class="archivedExpansion mat-elevation-z0"
                           hideToggle>
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>savings</mat-icon>
        </mat-expansion-panel-header>
        <button (click)="goToAccount(account.hash)" *ngFor="let account of accountsSavingsArchived" class="menu-button archivedColor"
                mat-button>
          <mat-icon>account_balance</mat-icon>
          <span class="name">{{ account.name }}</span>
          <span class="balance">{{ account.balance.toFixed(2) }}</span>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Expense
        </mat-panel-title>
        <mat-icon>shopping_bag</mat-icon>
      </mat-expansion-panel-header>
      <button (click)="goToCategory(category.hash)" *ngFor="let category of categoryExpense" class="menu-button"
              mat-button>
        <div class="icon-name">
          <mat-icon [ngStyle]="{'color': category.color}">shopping_bag</mat-icon>
          <span class="name">{{ category.name }}</span>
        </div>
      </button>
      <mat-expansion-panel *ngIf="categoryArchivedExpense.length > 0" class="archivedExpansion mat-elevation-z0"
                           hideToggle>
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>shopping_bag</mat-icon>
        </mat-expansion-panel-header>
        <button (click)="goToCategory(category.hash)" *ngFor="let category of categoryArchivedExpense" class="menu-button archivedColor"
                mat-button>
          <div class="icon-name">
            <mat-icon [ngStyle]="{'color': category.color}">shopping_bag</mat-icon>
            <span class="name">{{ category.name }}</span>
          </div>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Income
        </mat-panel-title>
        <mat-icon>paid</mat-icon>
      </mat-expansion-panel-header>
      <button (click)="goToCategory(category.hash)" *ngFor="let category of categoryIncome" class="menu-button"
              mat-button>
        <div class="icon-name">
          <mat-icon [ngStyle]="{'color': category.color}" >paid</mat-icon>
          <span class="name">{{ category.name }}</span>
        </div>
      </button>
      <mat-expansion-panel *ngIf="categoryArchivedIncome.length > 0" class="archivedExpansion mat-elevation-z0"
                           hideToggle>
        <mat-expansion-panel-header class="archivedColor">
          <mat-panel-title class="archivedColor">
            archived
          </mat-panel-title>
          <mat-icon>paid</mat-icon>
        </mat-expansion-panel-header>
        <button (click)="goToCategory(category.hash)" *ngFor="let category of categoryArchivedIncome" class="menu-button archivedColor"
                mat-button>
          <div class="icon-name">
            <mat-icon [ngStyle]="{'color': category.color}">paid</mat-icon>
            <span class="name">{{ category.name }}</span>
          </div>
        </button>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
