<mat-card (click)="handleClick()" class="transaction">
  <div class="date">
    {{ transactionCard.date.string }}
  </div>
  <mat-card-header>
    <mat-card-title>
      <!--      <mat-icon> {{transactionCard.icon}} </mat-icon>-->
      {{ transactionCard.category.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ transactionCard.subCategory?.name }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{ transactionCard.account.name }}
    </mat-card-subtitle>


    <div [style.color]=transactionCard.amount.color class="amount">
      {{ transactionCard.amount.amount.toFixed(2) }}
    </div>
  </mat-card-header>
</mat-card>
